/* Resetter  */
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: Lato; */
    background: var(--color-gray);
    font-family: 'Outfit' !important;
}

h1, h2, h3, h4, h5, h6, ul, li, a {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

/* defining root variable */

:root {
    --fs-11: 11px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-35: 35px;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --color-primary: #000000;
    --color-secondary: #CA2790;
    --color-dark: rgb(27, 27, 27);
    --color-white: #fff;
    --color-gray: rgb(240, 238, 238);
    --border-primary-1px: 1px solid var(--color-primary);
    --border-primary-2px: 2px solid var(--color-primary);
    --border-primary-3px: 3px solid var(--color-primary);
    --border-gray-1px: 1px solid var(--color-gray);
    --border-gray-2px: 2px solid var(--color-gray);
    --border-gray-3px: 3px solid var(--color-gray);

    --border-radius-10: 10px;
    --border-radius-5: 5px;
    --border-radius-50: 50%;
    --border-radius-15: 15px;
    --border-radius-20: 20px;
    /* ========================= */
    --dark-color: #16181d;
    --dark-grey-color: #22262b;
    --leftbar-txt-color: #8b95a0;
    --primary-text-color: #bac5cc;
    --secondary-text-color: #6d757c;
    --ternary-text-color: #7e7e80;
    --border-color: #2d353d;
    /* #6d757c
    #6d757c */


    /*===========================  */

}

.custom-fs-11 {
    font-size: var(--fs-11);
}


.custom-fs-12 {
    font-size: var(--fs-12);
}



/*==Loki==========================  */
.customBg {
    background-color: var(--dark-grey-color);
}

.customNavbar {
    background-color: var(--dark-color);
    color: var(---primary-text-color);
    border-bottom: 1px solid var(--border-color)
}

.customLeftBar {
    background-color: var(--dark-color);
    color: var(--leftbar-txt-color);

}

.customPrimaryTxtColor {
    color: var(--primary-text-color)
}

.customSecondaryTxtColor {
    color: var(--secondary-text-color)
}

.customTernaryTxtColor {
    color: var(--ternary-text-color)
}

.customCard {
    background-color: var(--dark-color);
    border: 1px solid var(--border-color)
}




.customProfileCard {
    background-color: var(--dark-color);
    color: var(---primary-text-color);
    border: 1px solid var(--border-color)
}

/*=====================  */



.custom-fw-400 {
    font-weight: var(--fw-400);
}

.custom-fw-500 {
    font-weight: var(--fw-500);
}


.custom-text-primary {
    color: var(--color-primary);
}

.custom-text-gray {
    color: var(--color-gray);
}

.custom-text-white {
    color: var(--color-white);
}

.custom-text-secondary {
    color: var(--color-secondary);
}


.custom-bg-secondary {
    background-color: var(--color-secondary);
}

.custom-bg-white {
    background-color: var(--color-white);
}

.custom-text-dark {
    color: var(--color-dark);
}

.custom-bg-dark {
    background-color: var(--color-dark);
}



.custom-border-primary-1px {
    border: var(--border-primary-1px);
}

.custom-border-primary-2px {
    border: var(--border-primary-2px);
}

.custom-border-primary-3px {
    border: var(--border-primary-3px);
}

.custom-border-radius-5 {
    border-radius: var(--border-radius-5);
}

.custom-border-radius-10 {
    border-radius: var(--border-radius-10);
}

.custom-border-radius-15 {
    border-radius: var(--border-radius-15);
}

.custom-border-radius-20 {
    border-radius: var(--border-radius-20);
}

.custom-border-radius-50-per {
    border-radius: var(--border-radius-50);
}

.w-15 {
    width: 15%;
}

.hover-on-secondary:hover {
    background-color: var(--color-white) !important;
    color: var(--color-dark) !important;
}

.hover-on-white:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-white) !important;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.letter-spacing-3 {
    letter-spacing: 3px;
}

.letter-spacing-4 {
    letter-spacing: 4px;
}

.myImg {
    transition: 0.3 ease;
}

.myImg:hover {
    scale: 1.1;
}

.myBtn {
    background-color: black;
    color: white;
    padding: 10px 18px;
    transition: .25s ease-in-out;
    border: none;
    text-transform: uppercase;
}

.myBtn:hover {
    background-color: rgb(31, 31, 31);
}

.mySecondaryBtn {
    border: 1px solid black;
    padding: 5px 15px;
    transition: .25s;
}

.mySecondaryBtn:hover {
    background-color: black;
    color: white;
}

.ghostBtn {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    text-align: center;
    color: #535253;
}

.ghostBtn:hover {
    text-decoration: underline;
}

.anchor {
    text-decoration: none;
}















.custom_card {
    background-color: var(--card-bg-color);
    border: 1px solid rgb(186, 199, 186);
}