.primaryColor {
    color: #1B1C22;
}

.secondaryColor {
    color: #121317;
}

/* Card Color */
.dashboardCard1 {
    background-color: #0795A2;
    height: 120px;
    color: white;
}

.dashboardCard2 {
    background-color: #3E83F9;
    height: 120px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dashboardCard3 {
    background-color: #0F9E6E;
    height: 120px;
    color: white;
}

.dashboardCardRow2 {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #1A1C23;
    color: white;
}