:root {
  --color-secondary: #ff9b44;
  --dark-color: #16181d;
  --dark-grey-color: #22262b;
  --leftbar-txt-color: #8b95a0;
  --primary-text-color: #bbc4cc;
  --secondary-text-color: #6d757c;
  --ternary-text-color: #7e7e80;
  --border-color: #2d3741;
  --primary-heading-color: #bac4cd;
  --secondary-heading-color: #7e7e80;
  --label-color: #7f8fa4;
  --text-muted: #8e8e8e;
}

.right_side_bg {
  background-color: var(--dark-grey-color);
}

/* primaryHeadingColor */
.phc {
  color: var(--primary-heading-color);
}

.customLabel {
  color: var(--label-color);
}

.txtMuted {
  color: var(--text-muted);
}

.customSecondaryColor {
  color: var(--color-secondary);
}

.shc {
  color: var(--primary-heading-color);
}

.cp {
  cursor: pointer;
}

.customBg {
  background-color: var(--dark-grey-color);
}

.customNavbar {
  background-color: var(--dark-color);
  border-bottom: 2px solid var(--border-color);
  color: var(--primary-text-color);
}

.customLeftBar {
  background-color: var(--dark-color);
  color: var(--leftbar-txt-color);
}

.customPrimaryTxtColor {
  color: var(--primary-text-color);
}

.customSecondaryTxtColor {
  color: var(--secondary-text-color);
}

.customTernaryTxtColor {
  color: var(--ternary-text-color);
}

.customCard {
  background-color: var(--dark-color);
  border: 1px solid var(--border-color);
  color: var(--primary-text-color);
}

.table_button {
  border: 1px solid var(--border-color);
  color: var(--primary-text-color);
  background-color: var(--dark-color);
}
.table_button:hover {
  background-color: var(--dark-color);
}
/* 
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 0.030rem solid green;
  margin-top: 5px;
} */

.customProfileCard {
  background-color: var(--dark-color);
  border: 1px solid var(--border-color);
}

.custom_card {
  background-color: var(--card-bg-color);
  border: 1px solid rgb(186, 199, 186);
}

.custom_table_hover:hover {
  background-color: #2d3741;
}

/* Login / Register  */
.login_register_page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_field {
  background-color: rgb(45, 55, 65) !important;
  color: rgb(187, 196, 204) !important;
  border-radius: 0px !important;
  outline: none !important;
  border: none !important;
  /* border: 1px solid red !important; */
}

.input_field:focus {
  box-shadow: 0 0 0 0.25rem red !important;
}

.input_field:focus-visible {
  outline: none !important;
}
